*{
    box-sizing: content-box;
}
p {
    text-decoration-line: overline;
    text-decoration-style: dashed;
}

p {

    font-family: "Playwrite HU", cursive;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

/* Estilos de tabla */
table, th, td{
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 5px;
}
th, td {
    padding: 15px;
    text-align: center;
}
th {
    height: 50px;
    background-color: aquamarine;
}
/* Sirve para poner un color cuando el mouse pasa por la zona seleccionada */
tr:hover{
    background-color: rgb(156, 152, 152);
}


.papaIm{
    background-color: black;
    width: 100%;
    padding: 20px;
}


.imagenpr1{
    background-color: red;
    /* El em se guia respecto al padre y hace su modificación */
    width: 20em;
    height: 20em;
}
.imagenpr2{
    background-color: blue;
    /* los pixeles No se adaptan al cambio de tamaño de pantalla */
    width: 100px;
    height: 100px;
}
.imagenpr3{
    background-color: green;
    /* Los rem hacen referencia al objeto raiz, es decir a su propia etiqueta */
    width: 10rem;
    height: 19rem;
}
.imagenpr4{
    border: 1px solid black;
    background-color: aqua;
    /* el porcentaje se ubica de acuerdo al padre */
    width: 50%;
}